flows.json
[{"id":"a0aa8f16.908bd","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f2f2649a.0d0d98","type":"debug","z":"a0aa8f16.908bd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":360,"wires":[]},{"id":"eb785ce4.46eaa","type":"ui_form","z":"a0aa8f16.908bd","name":"","label":"","group":"2c8f71a9.6c94de","order":0,"width":0,"height":0,"options":[{"label":"Adult Mortality","value":"a","type":"number","required":true,"rows":null},{"label":"Infant deaths","value":"b","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"c","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"d","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"e","type":"number","required":true,"rows":null},{"label":"Measles","value":"f","type":"number","required":true,"rows":null},{"label":"BMI","value":"g","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"h","type":"number","required":true,"rows":null},{"label":"Polio","value":"i","type":"number","required":true,"rows":null},{"label":"Total Expenditure","value":"j","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"k","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"l","type":"number","required":true,"rows":null},{"label":"GDP","value":"m","type":"number","required":true,"rows":null},{"label":"Popoulation","value":"n","type":"number","required":true,"rows":null},{"label":"Thiness 1-19 years","value":"o","type":"number","required":true,"rows":null},{"label":"thiness 5 - 9 years","value":"p","type":"number","required":true,"rows":null},{"label":"Income compoition of resources","value":"q","type":"number","required":true,"rows":null},{"label":"Schooling","value":"r","type":"number","required":true,"rows":null},{"label":"Developed","value":"s","type":"number","required":true,"rows":null},{"label":"Developing","value":"t","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":""},"payload":"","submit":"Predict","cancel":"Cancel","topic":"","x":110,"y":100,"wires":[["5081f1b.26dcd1"]]},{"id":"5081f1b.26dcd1","type":"function","z":"a0aa8f16.908bd","name":"pre token","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\n\nvar apikey = \"QzxM0tvKT1i45Pr090NhfXiPQKpZNu0dIpCPf7-0HP_h\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload = {\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":160,"wires":[["b3e117b4.e7f868"]]},{"id":"21e9228f.e80d3e","type":"function","z":"a0aa8f16.908bd","name":"send to Endpoint","func":"var token = msg.payload.access_token;\nvar instance_id = \"bc9bc1d9-4022-4d92-9c38-3a72c8ea75c0\"\nmsg.headers={'Content-Type' : 'application/json', \"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\n\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\n\nmsg.payload = {\"fields\" : ['Adult Mortality','Infant deaths','Alcohol','percentage expenditure','Hepatitis B','Measles','BMI','under-five deaths','Polio','Total Expenditure','Diphtheria','HIV/AIDS','GDP','Popoulation','Thiness 1-19 years','thiness 5 - 9 years','Income compoition of resources','Schooling','Developed','Developing'\n],\n\"values\" : [[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t]]\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":180,"wires":[["a70f13f5.b02c3"]]},{"id":"e65eb985.98ce18","type":"function","z":"a0aa8f16.908bd","name":"get from Endpoint","func":"msg.payload = msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":420,"wires":[["f2f2649a.0d0d98","3206c83b.163f28"]]},{"id":"b3e117b4.e7f868","type":"http request","z":"a0aa8f16.908bd","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":510,"y":80,"wires":[["21e9228f.e80d3e"]]},{"id":"a70f13f5.b02c3","type":"http request","z":"a0aa8f16.908bd","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/bc9bc1d9-4022-4d92-9c38-3a72c8ea75c0/deployments/2618a402-b993-4675-a4e6-8cda876227c6/online","tls":"","persist":false,"proxy":"","authType":"basic","x":470,"y":280,"wires":[["e65eb985.98ce18"]]},{"id":"3206c83b.163f28","type":"ui_text","z":"a0aa8f16.908bd","group":"2c8f71a9.6c94de","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":460,"wires":[]},{"id":"2c8f71a9.6c94de","type":"ui_group","z":"","name":"Life Expectancy Prediction","tab":"d8f0d495.c80bf8","order":1,"disp":true,"width":"6","collapse":false},{"id":"d8f0d495.c80bf8","type":"ui_tab","z":"","name":"prediction","icon":"dashboard","disabled":false,"hidden":false}]